{#{% extends 'jsmind-master/example/jsminddemo.html' %}#}

{% block content %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>jsMinddemo</title>
    <link type="text/css" rel="stylesheet" href="/static/css/jsmind.css" />
    <link rel="stylesheet" href="/static/css/sv-tabs.css?dev">
    <style type="text/css">
        li{margin-top:2px; margin-bottom:2px;}
        button{width:140px;}
        select{width:140px;}
        #layout{width:1230px;}
        #jsmind_nav{width:210px;height:600px;border:solid 1px #ccc;overflow:auto;float:left;}
        .file_input{width:100px;}
        button.sub{width:100px;}

        #jsmind_container{
            float:left;
            width:1000px;
            height:600px;
            border:solid 1px #ccc;
            background:#444;
        }
    </style>
{#    <script  type = "text/javascript" >#}
{##}
{#        function onload() {#}
{#            {% autoescape off %}#}
{#                data = {{ data }};#}
{#            {% endautoescape %}#}
            {#data = data.replace('\'', '\"')#}
{#            console.log(data)#}
{#        }#}
{#        window.onload = onload;#}
{##}
{#</script >#}
{#    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>#}
 <!-- Bootstrap Core CSS -->
<link href="/static/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="/static/css/style.css" rel='stylesheet' type='text/css' />
<link href="/static/css/font-awesome.css" rel="stylesheet">
<!-- jQuery -->
<script src="/static/js/jquery.min.js"></script>
</head>
<body>
<nav class="top1 navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0; min-height: 70px;">
            <div class="navbar-header" style="margin-top:7px">
                <a class="navbar-brand" href="/mysrl/">HKUSRL SRL</a>
            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-nav navbar-right">
            	<span class="navbar-brand"  style="margin-top:7px">Welcome</span>
                {% if request.session.is_login %}

            	<span class="navbar-brand"  style="margin-top:7px">{{ request.session.user_name }}</span>
                {% else %}
                <h1>You are not login</h1>
                {% endif %}
            	<a class="navbar-brand btn btn-success btn-warng1"  style="margin-top:10px; height: 45px;" href="/logout/">Exit</a>

			</ul>
            <!-- /.navbar-static-side -->
        </nav>
<div class="col-lg-8">
<div style="width:100% ;margin: 10px">
    <div class="col-md-2">
        <button class="btn btn-danger" style="width: 100%" onclick="remove_node();">Remove node</button>
    </div>
    <div class="col-md-2">
        <button class="btn btn-default"  style="width: 100%" onclick="add_node();">New node</button>
    </div>
    <div class="col-md-3">
        <button class="btn btn-default" style="width: 100%" onclick="change_background_color();">Finished</button>
    </div>
    <div class="col-md-3">
        <button class="btn btn-default"  style="width: 100%" onclick="reset_background_color();">Unfinished</button>
    </div>
    <div class="col-md-2">
        <button class="btn btn-primary"  style="width: 100%"onclick="save_data();">Save data</button>
    </div>
    <div >
        <div style="margin-top: 20px;width: 100%;height: calc(83vh)" id="jsmind_container"></div>
        <div style="display:none">
          <input class="file" type="file" id="image-chooser" accept="image/*"/>
        </div>
    </div>

</div>
</div>
<div class="col-lg-4" style="height: calc(89vh);overflow-y:auto">

    <div class="sv-tabs-wrapper" style="margin-top: 5px;line-height: 30px">
            <nav class="sv-tabs-tab-list">
                <a class="sv-tabs-tab active" href="#tab2">Session 2</a>
                <a class="sv-tabs-tab" href="#tab3&4">Session 3&4</a>
                <a class="sv-tabs-tab" href="#tab5">Session 5</a>
                <a class="sv-tabs-tab" href="#tab6">Session 6</a>
                <a class="sv-tabs-tab" href="#tab7">Session 7</a>
                <a class="sv-tabs-tab" href="#tab8">Session 8</a>
            </nav>
            <div class="sv-tabs-panel-list">
                <div class="sv-tabs-panel" id="tab2">

<p>Topic: Adult education strategy</p>
<p>●&nbsp;Andragogy versus pedagogy</p>
<p>●&nbsp;Small-group discussion on various adult learning strategies</p>
<p>Keywords:</p>
<p>●&nbsp;self-directed learning, collaborative learning; Experiential learning;</p>
<p>Learning tasks:</p>
<p>●&nbsp;Pre and post class discussion forums</p>
<p>●&nbsp;Out-class web tasks:</p>
<p>o&nbsp;Set goal for week 3 by Feb 24<sup>th</sup></p>
<p>Recommended activity:</p>
<p>●&nbsp;Complete one reflection paper (individual assignment)</p>
<p>Recommended readings:</p>
<p>●&nbsp;Barrows, H. S. (1996). Problem-based learning in medicine and beyond: A brief overview. <em>New Directions for Teaching and Learning</em>, <em>68</em>, 3-12.</p>
<p>●&nbsp;Baumgartner, L. M. (2001). An Update on Transformational Learning. <em>New Directions for Adult and Continuing Education</em>, <em>89</em>, 15-24.</p>
<p>●&nbsp;Billett, S. (2002). Toward a workplace pedagogy: guidance, participation and engagement. <em>Adult Education Quarterly</em>, <em>53</em>(1), 27-43.</p>
<p>●&nbsp;Mezirow, J. (1994). Understanding transformation theory. <em>Adult Education Quarterly</em>, <em>44</em>(4), 222-232.</p>
<p>●&nbsp;Caffarella, R. S. (1993). Self-directed learning. <em>New Directions for Adult and Continuing Education</em>, <em>57</em>, 25-35.</p>
<p>●&nbsp;Caffarella, R. S., &amp; Barnett, B. G. (1994). Characteristics of adult learners and foundations of experiential learning. <em>New Directions for Adult and Continuing Education</em>, <em>62</em>, 29-42.</p>
<p>●&nbsp;Dillenbourg, P. (1999). What do you mean by collaborative learning?. In P. Dillenbourg (Ed) Collaborative-learning: Cognitive and Computational Approaches. (pp.1-19). Oxford: Elsevier.</p>
<p>●&nbsp;Fowler, J. (2008). Experiential learning and its facilitation. Nurse Education Today<em>, 28</em>, 427-433.</p>
<p>●&nbsp;Garrison, D. R. (1997). Self-Directed Learning: Toward a Comprehensive Model.&nbsp;<em>Adult Education Quarterly</em>, <em>48</em>(1), 18-33.</p>
<p>●&nbsp;Merriam, S. B. (2001). Andragogy and self-directed learning: Pillars of adult learning theory. <em>New Directions for Adult and Continuing Education</em>, <em>89</em>, 3-13.</p>
<p>●&nbsp;Ross-Gordon, J. M. (2003). Adult learners in the classroom. <em>New Directions for Student Services</em>, <em>102</em>, 43-52.</p>

                </div>
                <div class="sv-tabs-panel" id="tab3&4">
                   <p>Topic: Motivation (Part 1)</p>
<p>●&nbsp;Types of motivation</p>
<p>●&nbsp;Self-determination theory of motivation</p>
<p>Keywords:</p>
<p>●&nbsp;Motivation; Autonomy; Value; Competence; Self-determination theory</p>
<p>Learning tasks:</p>
<p>●&nbsp;Pre and post class discussion forums</p>
<p>●&nbsp;Out-class web tasks:</p>
<p>o&nbsp;Submit report for week 3 by Mar 3<sup>rd</sup></p>
<p>o&nbsp;Set goal for week 4 by Mar 3<sup>rd</sup>&nbsp;</p>
<p>Recommended activity:</p>
<p>●&nbsp;Complete one reflection paper (individual assignment)</p>
<p>Recommended readings:</p>
<p>●&nbsp;Deci, E., &amp; Ryan, R. (2000). The &lsquo;what&rsquo; and &lsquo;why&rsquo; of goal pursuits: Human needs and the self-determination of behavior, <em>Psychological Inquiry</em>, <em>11</em>, 227-268.</p>
<p>●&nbsp;Hew, K. F., Huang, B., Chu, S. K. W., &amp; Chiu, D. K. W. (2016). Engaging Asian students through game mechanics: Findings from two experiment studies. <em>Computers &amp; Education</em>, <em>92-93</em>, 221-236.</p>
<p>●&nbsp;McMillan, J. H., &amp; Hearn, J. (2008). Student self-assessment: The key to stronger student motivation and higher achievement.&nbsp;<em>Educational Horizons, 87</em>(1), 40-49. <a href="http://files.eric.ed.gov/fulltext/EJ815370.pdf">http://files.eric.ed.gov/fulltext/EJ815370.pdf</a>&nbsp;</p>
<p>●&nbsp;Yuhas, D. (2012). Three critical elements that sustain motivation. <a href="http://www.scientificamerican.com/article/three-critical-elements-sustain-motivation/">http://www.scientificamerican.com/article/three-critical-elements-sustain-motivation/</a></p>

<p>Topic: Motivation (Part 2)</p>
<p>ARCS model of motivation Group discussion on strategies of ARCS model</p>
<p>&nbsp;</p>
<p>Keywords:</p>
<p>●&nbsp;ARCS model, Attention, Relevance, Confidence, Satisfaction</p>
<p>Learning tasks:</p>
<p>●&nbsp;Pre and post class discussion forums</p>
<p>●&nbsp;Out-class web tasks:</p>
<p>o&nbsp;Submit report for week 4 by Mar 17<sup>th</sup></p>
<p>o&nbsp;Set goal for week 5 by Mar 17<sup>th</sup></p>
<p>Recommended activity:</p>
<p>●&nbsp;Complete one reflection paper (individual assignment)</p>
<p>Recommended readings:</p>
<p>&middot;&nbsp;Keller, J. M. (1987). Development and use of the ARCS model of instructional design.&nbsp;<em>Journal of instructional development</em>,&nbsp;<em>10</em>(3), 2.</p>
<p>&middot;&nbsp;Turel, Y. K., &amp; Sanal, S. O. (2018). The effects of an ARCS based e-book on student's achievement, motivation and anxiety.&nbsp;<em>Computers &amp; Education</em>,&nbsp;<em>127</em>, 130-140.</p>
<p>&middot;&nbsp;Cheng, Y. C., &amp; Yeh, H. T. (2009). From concepts of motivation to its application in instructional design: Reconsidering motivation from an instructional design perspective.&nbsp;<em>British Journal of Educational Technology</em>,&nbsp;<em>40</em>(4), 597-605.</p>

                </div>
                <div class="sv-tabs-panel active" id="tab5">
                    <p>Topic: Strategies for adult learning (brief introduction)</p>
<p>●&nbsp;Self-directed learning</p>
<p>●&nbsp;Collaborative learning</p>
<p>●&nbsp;Experiential learning</p>
<p>●&nbsp;Problem-based learning</p>
<p>●&nbsp;Transformative learning</p>
<p>●&nbsp;Introduction to the student teaching demo.</p>
<p>Learning tasks:</p>
<p>●&nbsp;Pre and post class discussion forums</p>
<p>●&nbsp;Out-class web tasks:</p>
<p>o&nbsp;Submit report for week 5 by Mar 31<sup>st</sup></p>
<p>o&nbsp;Set goal for week 6 by Mar 31<sup>st</sup>&nbsp;</p>
<p>Recommended activity:</p>
<p>●&nbsp;Complete one reflection paper (individual assignment)</p>
<p>●&nbsp;Start to propose teaching demo</p>
                </div>
                <div class="sv-tabs-panel" id="tab6">
                    <p>Topic: Evaluating training programs</p>
<p>●&nbsp;Evaluating learner reaction</p>
<p>●&nbsp;Evaluating learning</p>
<p>●&nbsp;Evaluating behaviour</p>
<p>●&nbsp;Evaluating results</p>
<p>Keywords:</p>
<p>●&nbsp;Evaluation</p>
<p>Learning tasks:</p>
<p>●&nbsp;Pre and post class discussion forums</p>
<p>●&nbsp;Out-class web tasks:</p>
<p>o&nbsp;Submit report for week 6 by Apr 7<sup>th</sup></p>
<p>o&nbsp;Set goal for week 7 by Apr 7<sup>th</sup></p>
<p>Recommended activity:</p>
<p>●&nbsp;Complete one reflection paper (individual assignment)</p>
<p>Recommended readings:</p>
<p>●&nbsp;Kirkpatrick, D. L., &amp; Kirkpatrick, J. D. (2006). Evaluating training programs: The four levels (3<sup>rd</sup>&nbsp;ed.). Berrett-Koenler, San Francisco: CA.</p>
<p>Kirkpatrick, D. L. (1996). Great ideas revisited. <em>Training and Development</em>, <em>January 1996</em>, 54-59.</p>
                </div>
                <div class="sv-tabs-panel" id="tab7">

<p>Topic: Strategies for adult learning</p>
<p>●&nbsp;Student teaching demo.</p>
<p>●&nbsp;Q&amp;A</p>
<p>●&nbsp;Teacher feedback</p>
<p>Learning tasks:</p>
<p>●&nbsp;Out-class web tasks:</p>
<p>o&nbsp;Submit report for week 7 by Apr 14<sup>th</sup></p>
<p>o&nbsp;Set goal for week 8 by Apr 14<sup>th</sup></p>
<p>Recommended activity:</p>
<p>●&nbsp;Complete one reflection paper (individual assignment)</p></div>
                <div class="sv-tabs-panel active" id="tab8">
                    <p>Topic: Strategies for adult learning</p>
<p>●&nbsp;Student teaching demo.</p>
<p>●&nbsp;Q&amp;A</p>
<p>●&nbsp;Teacher feedback</p>
<p>●&nbsp;Course wrap-up and Q&amp;A</p>
<p>Learning tasks:</p>
<p>●&nbsp;Out-class web tasks:</p>
<p>o&nbsp;Submit report for week 8 by Apr 28<sup>th</sup></p>
<p>Recommended activity:</p>
<p>&middot;&nbsp;Finalize your six reflection papers and combine into one (individual assignment) by <strong>28 April 2021</strong></p>
</div>
            </div>
        </div>
</div>
<script src="/static/js/sv-tabs.js?dev"></script>
    <script>
        var tabSet = document.querySelector('.sv-tabs-wrapper');
        var svTabs = new SV.Tabs(tabSet, { useAnchors: true, equalHeight: true });
    </script>
<script type="text/javascript" src="https://hizzgdev.github.io/jsmind/js/jsmind.js"></script>
<script type="text/javascript" src="https://hizzgdev.github.io/jsmind/js/jsmind.draggable.js"></script>
<script type="text/javascript" src="https://hizzgdev.github.io/jsmind/js/jsmind.screenshot.js"></script>
<script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>

<script type="text/javascript">
    var _jm = null;
    function open_empty(){
        var options = {
            container:'jsmind_container',
            theme:'danger',
            editable:true
        }
        _jm = jsMind.show(options);
        // _jm = jsMind.show(options,mind);
    }

    function open_json(){
        var mind =
            {% autoescape off %}
                {{ info.output }}
             {% endautoescape %}

            _jm.show(mind);
    }

    function open_ajax(){
        var mind_url = 'data_example.json';
        jsMind.util.ajax.get(mind_url,function(mind){
            _jm.show(mind);
        });
    }

    function screen_shot(){
        _jm.screenshot.shootDownload();
    }

    function show_data(){
        var mind_data = _jm.get_data();
        var mind_string = jsMind.util.json.json2string(mind_data);
        prompt_info(mind_string);
    }
    function GetQueryValue(queryName) {
        var query = decodeURI(window.location.search.substring(1));
        var vars = query.split("&");
        for (var i = 0; i < vars.length; i++) {
            var pair = vars[i].split("=");
            if (pair[0] == queryName) { return pair[1]; }
        }
        return null;
    }
    function save_data(){
        var mind_data = _jm.get_data();
        var stime = Date.parse(new Date());
        var srlid = GetQueryValue("id")
        var senddata = {"data": jsMind.util.json.json2string(mind_data) , "sid" : "{{ request.session.user_sid }}" , "stime":stime, "srlid":srlid};
        prompt_info('Savrd SRL No.'+senddata["srlid"]);
        $.ajax({
        url: "/add/",
        type: "POST",        //请求类型
        //contentType: "application/json; charset=utf-8",
        data: senddata,
        dataType: "json",
        success: function (callback) {
            //当请求执行完成后，自动调用
            //arg, 服务器返回的数据
            prompt_info('Saved successfully');
            console.log(callback);
        },
        error: function () {
            //当请求错误之后，自动调用
            {#prompt_info('Save failed');#}
        }
    });
        //prompt_info('Saved successfully');
    }

    function save_file(){
        var mind_data = _jm.get_data();
        var mind_name = mind_data.meta.name;
        var mind_str = jsMind.util.json.json2string(mind_data);
        jsMind.util.file.save(mind_str,'text/jsmind',mind_name+'.jm');
    }

    function open_file(){
        var file_input = document.getElementById('file_input');
        var files = file_input.files;
        if(files.length > 0){
            var file_data = files[0];
            jsMind.util.file.read(file_data,function(jsmind_data, jsmind_name){
                var mind = jsMind.util.json.string2json(jsmind_data);
                if(!!mind){
                    _jm.show(mind);
                }else{
                    prompt_info('can not open this file as mindmap');
                }
            });
        }else{
            prompt_info('please choose a file first')
        }
    }

    function select_node(){
        var nodeid = 'other';
        _jm.select_node(nodeid);
    }

    function show_selected(){
        var selected_node = _jm.get_selected_node();
        if(!!selected_node){
            prompt_info(selected_node.topic);
        }else{
            prompt_info('nothing');
        }
    }

    function get_selected_nodeid(){
        var selected_node = _jm.get_selected_node();
        if(!!selected_node){
            return selected_node.id;
        }else{
            return null;
        }
    }

    function add_node(){
        var selected_node = _jm.get_selected_node(); // as parent of new node
        if(!selected_node){prompt_info('please select a node first.');return;}

        var nodeid = jsMind.util.uuid.newid();
        var topic = '* Node_'+nodeid.substr(nodeid.length-6)+' *';
        var node = _jm.add_node(selected_node, nodeid, topic);
    }

    var imageChooser = document.getElementById('image-chooser');

    imageChooser.addEventListener('change', function (event) {
        // Read file here.
        var reader = new FileReader();
        reader.onloadend = (function () {
            var selected_node = _jm.get_selected_node();
            var nodeid = jsMind.util.uuid.newid();
            var topic = undefined;
            var data = {
                "background-image": reader.result,
                "width": "100",
                "height": "100"};
            var node = _jm.add_node(selected_node, nodeid, topic, data);
            //var node = _jm.add_image_node(selected_node, nodeid, reader.result, 100, 100);
        //add_image_node:function(parent_node, nodeid, image, width, height, data, idx, direction, expanded){
        });

        var file = imageChooser.files[0];
        if (file) {
            reader.readAsDataURL(file);
        };

    }, false);

    function add_image_node(){
        var selected_node = _jm.get_selected_node(); // as parent of new node
        if(!selected_node){
            prompt_info('please select a node first.');
            return;
        }

        imageChooser.focus();
        imageChooser.click();
    }

    function modify_node(){
        var selected_id = get_selected_nodeid();
        if(!selected_id){prompt_info('please select a node first.');return;}

        // modify the topic
        _jm.update_node(selected_id, '--- modified ---');
    }

    function move_to_first(){
        var selected_id = get_selected_nodeid();
        if(!selected_id){prompt_info('please select a node first.');return;}

        _jm.move_node(selected_id,'_first_');
    }

    function move_to_last(){
        var selected_id = get_selected_nodeid();
        if(!selected_id){prompt_info('please select a node first.');return;}

        _jm.move_node(selected_id,'_last_');
    }

    function move_node(){
        // move a node before another
        _jm.move_node('other','open');
    }

    function remove_node(){
        var selected_id = get_selected_nodeid();
        if(!selected_id){prompt_info('please select a node first.');return;}
        //判断有没有子节点
        _jm.remove_node(selected_id);
    }

    function find_node_after() {
        var selected_id = get_selected_nodeid();
        if(!selected_id){prompt_info('please select a node first.');return;}
        //判断有没有子节点
        _jm.find_node_after(selected_id);
    }

    function change_text_font(){
        var selected_id = get_selected_nodeid();
        if(!selected_id){prompt_info('please select a node first.');return;}

        _jm.set_node_font_style(selected_id, 28);
    }

    function change_text_color(){
        var selected_id = get_selected_nodeid();
        if(!selected_id){prompt_info('please select a node first.');return;}

        _jm.set_node_color(selected_id, null, '#aaa');
    }
    function finished(){
        var selected_id = get_selected_nodeid();
        if(!selected_id){prompt_info('please select a node first.');return;}

        _jm.set_node_color(selected_id, null, '#aaa');
        _jm.set_node_color(selected_id, '#546', null);
    }
    function change_background_color(){
        var selected_id = get_selected_nodeid();
        if(!selected_id){prompt_info('please select a node first.');return;}

        _jm.set_node_color(selected_id, '#1d5781', null);
    }
    function reset_background_color(){
        var selected_id = get_selected_nodeid();
        if(!selected_id){prompt_info('please select a node first.');return;}

        _jm.set_node_color(selected_id, '#1abc9c', null);
    }

    function change_background_image(){
        var selected_id = get_selected_nodeid();
        if(!selected_id){prompt_info('please select a node first.');return;}

        _jm.set_node_background_image(selected_id, 'ant.png', 100, 100);
    }

    function set_theme(theme_name){
        _jm.set_theme(theme_name);
    }

    var zoomInButton = document.getElementById("zoom-in-button");
    var zoomOutButton = document.getElementById("zoom-out-button");

    function zoomIn() {
        if (_jm.view.zoomIn()) {
            zoomOutButton.disabled = false;
        } else {
            zoomInButton.disabled = true;
        };
    };

    function zoomOut() {
        if (_jm.view.zoomOut()) {
            zoomInButton.disabled = false;
        } else {
            zoomOutButton.disabled = true;
        };
    };

    function toggle_editable(btn){
        var editable = _jm.get_editable();
        if(editable){
            _jm.disable_edit();
            btn.innerHTML = 'enable editable';
        }else{
            _jm.enable_edit();
            btn.innerHTML = 'disable editable';
        }
    }

    // this method change size of container, perpare for adjusting jsmind
    function change_container(){
        var c = document.getElementById('jsmind_container');
        c.style.width = '800px';
        c.style.height = '500px';
    }

    function resize_jsmind(){
        _jm.resize();
    }

    function expand(){
        var selected_id = get_selected_nodeid();
        if(!selected_id){prompt_info('please select a node first.');return;}

        _jm.expand_node(selected_id);
    }

    function collapse(){
        var selected_id = get_selected_nodeid();
        if(!selected_id){prompt_info('please select a node first.');return;}

        _jm.collapse_node(selected_id);
    }

    function toggle(){
        var selected_id = get_selected_nodeid();
        if(!selected_id){prompt_info('please select a node first.');return;}

        _jm.toggle_node(selected_id);
    }

    function expand_all(){
        _jm.expand_all();
    }

    function expand_to_level2(){
        _jm.expand_to_depth(2);
    }

    function expand_to_level3(){
        _jm.expand_to_depth(3);
    }

    function collapse_all(){
        _jm.collapse_all();
    }


    function get_nodearray_data(){
        var mind_data = _jm.get_data('node_array');
        var mind_string = jsMind.util.json.json2string(mind_data);
        prompt_info(mind_string);
    }

    function save_nodearray_file(){
        var mind_data = _jm.get_data('node_array');
        var mind_name = mind_data.meta.name;
        var mind_str = jsMind.util.json.json2string(mind_data);
        jsMind.util.file.save(mind_str,'text/jsmind',mind_name+'.jm');
    }

    function open_nodearray(){
        var file_input = document.getElementById('file_input_nodearray');
        var files = file_input.files;
        if(files.length > 0){
            var file_data = files[0];
            jsMind.util.file.read(file_data,function(jsmind_data, jsmind_name){
                var mind = jsMind.util.json.string2json(jsmind_data);
                if(!!mind){
                    _jm.show(mind);
                }else{
                    prompt_info('can not open this file as mindmap');
                }
            });
        }else{
            prompt_info('please choose a file first')
        }
    }

    function get_freemind_data(){
        var mind_data = _jm.get_data('freemind');
        var mind_string = jsMind.util.json.json2string(mind_data);
        alert(mind_string);
    }

    function save_freemind_file(){
        var mind_data = _jm.get_data('freemind');
        var mind_name = mind_data.meta.name || 'freemind';
        var mind_str = mind_data.data;
        jsMind.util.file.save(mind_str,'text/xml',mind_name+'.mm');
    }

    function open_freemind(){
        var file_input = document.getElementById('file_input_freemind');
        var files = file_input.files;
        if(files.length > 0){
            var file_data = files[0];
            jsMind.util.file.read(file_data, function(freemind_data, freemind_name){
                if(freemind_data){
                    var mind_name = freemind_name;
                    if(/.*\.mm$/.test(mind_name)){
                        mind_name = freemind_name.substring(0,freemind_name.length-3);
                    }
                    var mind = {
                        "meta":{
                            "name":mind_name,
                            "author":"{{ request.session.user_name }}",
                            "version":"1.0.1"
                        },
                        "format":"freemind",
                        "data":freemind_data
                    };
                    _jm.show(mind);
                }else{
                    prompt_info('can not open this file as mindmap');
                }
            });
        }else{
            prompt_info('please choose a file first')
        }
    }

    function prompt_info(msg){
        alert(msg);
    }
    // JQ 解决403 ajax官方代码
    $(document).ajaxSend(function(event, xhr, settings) {
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    function sameOrigin(url) {
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
    }
    function safeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
    }
    });
    // JQ 解决403 ajax官方代码结束
    open_empty();
    open_json();
    set_theme('greensea')

</script>
</body>
</html>

{% endblock %}
