{% block content %}

<!DOCTYPE HTML>
<html>
<head>
<title>Mysrl</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Modern Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script  type = "text/javascript" >

        function onload() {
            {% autoescape off %}
            data = {{ data }};
            {% endautoescape %}
            {#data = data.replace('\'', '\"')#}
            console.log(data)
            // 获取ul
            let UL = document.getElementById('mysrllist');
            // 遍历循环data数据
            for(var i in data) {

                // 创建li元素
                var tr = document.createElement('tr');
                // 放入数据(data)
                // 这里使用ES6字符串模板特性来做
                tr.innerHTML = `
<tr class="scuess" >
\t\t          <th scope="row">${data[i].srlid}</th>
\t\t          <td>${data[i].name}</td>
\t\t          <td>${data[i].creat_time.substring(0,10)}</td>
\t\t          <td>${data[i].save_time.substring(0,10)}</td>
\t\t          <td>--</td>
\t\t          <th><a href="../jsmind/?id=${data[i].srlid}" style="color:green">Edit</a></th>
\t\t        </tr>
                `
                // 放入(ul)
                UL.appendChild(tr);
            }
        }
        window.onload = onload;

</script >
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
 <!-- Bootstrap Core CSS -->
<link href="/static/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="/static/css/style.css" rel='stylesheet' type='text/css' />
<link href="/static/css/font-awesome.css" rel="stylesheet">
<!-- jQuery -->
<script src="/static/js/jquery.min.js"></script>
<!-- chart -->
<script src="/static/js/Chart.js"></script>
<!-- //chart -->
</head>
<body onload="onload()">
<div id="wrapper">
     <!-- Navigation -->
       <nav class="top1 navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0; min-height: 70px;">
            <div class="navbar-header" style="margin-top:7px">
                <a class="navbar-brand" href="/mysrl/">HKUSRL MySRL</a>
            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-nav navbar-right">
            	<span class="navbar-brand"  style="margin-top:7px">Welcome</span>
                {% if request.session.is_login %}

            	<span class="navbar-brand"  style="margin-top:7px">{{ request.session.user_name }}</span>
                {% else %}
                <h1>You are not login</h1>
                {% endif %}
            	<a class="navbar-brand btn btn-success btn-warng1"  style="margin-top:10px; height: 45px;" href="/logout/">Exit</a>

			</ul>
            <!-- /.navbar-static-side -->
        </nav>
        <div id="page-wrapper">
        <div class="graphs">

    <div class="content_bottom">
     <div class="col-md-8 span_3">

		  <div class="bs-example1" data-example-id="contextual-table">
		    <table class="table">
		      <thead>
		        <tr>
		          <th>ID</th>
		          <th>Topic</th>
		          <th>Create time</th>
		          <th>Save Time</th>
		          <th>Progress</th>
		          <th>Edit</th>
                    <th><a class="btn btn-primary" href="../new/"> NEW </a></th>
		        </tr>
		      </thead>
		      <tbody id = 'mysrllist'>
		      </tbody>
		    </table>
		   </div>
	   </div>
	   <div class="col-md-4 span_4">
		 <div class="col_2">
        	    <div id="container" style="width: 100%; min-height: 400px"></div>
    <script type="text/javascript" src="/static/css/echarts.min.js"></script>

    <script type="text/javascript">
        var dom = document.getElementById("container");
        var myChart = echarts.init(dom);
        var app = {};
        option = null;
        option = {
            title: {
                text: 'SRL-strategy'
            },
            tooltip: {},
            legend: {

            },
            radar: {
                // shape: 'circle',
                name: {
                    textStyle: {
                        color: '#fff',
                        backgroundColor: '#999',
                        borderRadius: 3,
                        padding: [3, 5]
                    }
                },
                indicator: [
                   { name: 'Goal', max: 100 },
                   { name: 'Environment', max: 100 },
                   { name: 'Task', max: 100 },
                   { name: 'Time', max: 100 },
                   { name: 'Help', max: 100 },
                   { name: 'Evaluation', max: 100 }
                ]
            },
            series: [{
                name: 'SRL-strategy capability score',
                type: 'radar',
                // areaStyle: {normal: {}},
                data: [
                    {
                        {% autoescape off %}
                        value: {{ SRL }},
                        {% endautoescape %}
                    }
                ]
            }]
        };;
        if (option && typeof option === "object") {
            myChart.setOption(option, true);
        }
    </script>

			<div class="grid-date">
				<div class="date">
					<p class="date-in">Recommend for you</p>
					<div class="clearfix"> </div>
				</div>
				<h4>
                    {% autoescape off %}
                        {{ recomdation }}
                        </h4>
			</div>
			<p class="monday">Click <a target="view_frame" href={{ recomdation_url }}>here</a> to learn</p>
{% endautoescape %}
		</div>
		<div class="clearfix"> </div>
	    </div>
		<div class="copy">
           <p>Copyright &copy; 2022</p>
	    </div>
		</div>
       </div>
      <!-- /#page-wrapper -->
   </div>
    <!-- /#wrapper -->
    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>
</body>
</html>
{% endblock %}
