<!DOCTYPE HTML>
<html>
<head>
<title>Self Evaluation</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Modern Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
 <!-- Bootstrap Core CSS -->
<link href="/static/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="/static/css/style.css" rel='stylesheet' type='text/css' />
<link href="/static/css/font-awesome.css" rel="stylesheet">
<!-- jQuery -->
<script src="/static/js/jquery.min.js"></script>
<style type="text/css">
input:disabled + label {/*禁用的指针*/
	cursor: not-allowed
	}
.Radio input,
.Checkbox input {
	display: none
	}
.Radio label,
.Checkbox label {
	padding: 0 16px 0 0;
	display: inline-block;
	cursor: pointer;
	position: relative
	}
.Radio label:before,
.Checkbox label:before {
	box-sizing: border-box;
	content: "";
	width: 18px;
	height: 18px;
	border-radius: 50%;
	border: 1px solid #999;
	margin: 0 8px;
	vertical-align: middle;
	display: inline-block;
	transition: 0.1S;
	}
.Radio label:hover:before,
.Checkbox label:hover:before {
	border-color: #00a4ff;
	}
.Radio input:disabled + label:before,
.Checkbox input:disabled + label:before {
	background-color: #CCC;
	border-color: #999;
	opacity: 0.5;
	}
.Radio input:disabled + label,
.Checkbox input:disabled + label {
	opacity: 0.5;
	}
.Radio input:checked + label:before {
	border: 5px solid #00a4ff;
	}
.Checkbox label:before {
	{#background: url(/static/images/ico_tick.svg) no-repeat center;#}
	background-size: 0;
	border-radius: 4px;
	transition: 0.2S;
	}
.Checkbox input:checked + label:before {
	background-color: #00a4ff;
	background-size: 16px;
	border-color: #00a4ff;
	}
.HoverLabel label {
	display: block;
	border-radius: 4px;
	padding: 4px;
	width: 100%;
	}
.HoverLabel label:hover {
	background-color: #EEE;
	}
</style>
</head>
<body>
<!-- //star -->

     <!-- Navigation -->
       <nav class="top1 navbar navbar-default navbar-static-top " style="padding-top: 1vh" role="navigation" >
        <div class="navbar-header" style="display:inline-block;">
            <p class="navbar-brand"style="font-size: 3vh" href="/index/">HKUSOC</p>
        </div>
        <div class="navbar-header" style="display:inline-block;">
            <a class="navbar-brand"style="font-size: 3vh" href="/index/">Courses</a>
        </div>
        <div class="navbar-header" style="display:inline-block;" id='srl_button'>
            <a class="navbar-brand"style="font-size: 3vh" href="/mysrl/">SRL Management</a>
        </div>
        <!-- /.navbar-header -->
        <ul class="nav navbar-nav navbar-right">
            <span class="navbar-brand"  style="font-size: 3vh">Welcome</span>
            {% if request.session.is_login %}
                <span class="navbar-brand"  style="font-size: 3vh">{{ request.session.user_name }}</span>
            {% else %}
                <h1>You are not login</h1>
            {% endif %}
            <a class="navbar-brand btn btn-success btn-warng1"  style="font-size: 3vh" href="/logout/">Exit</a>
        </ul>
        <!-- /.navbar-static-side -->
    </nav>
<div style="margin:30px">
    <div class="content_bottom">
         <div class="col-md-12 span_3">
            <div class="col-md-6" >
                <div style="margin:30px">
                    <p>Reflections from prior efforts can be used to affect subsequent goal setting and planning process. Two main forms of actions can be taken to conduct self-reflection: </p>
                    <p>1. Self-judgement </p>
                    <p>1.1 One form of self-judgement is self-evaluation, which refers to comparisons of self-observed performances against some standard, such as one’s prior performance, another person’s performance, or an absolute standard of performance.</p>
                    <p>1.2 Another is causal attribution, which refers to beliefs about the cause of one’s errors or successes, such as a score on a mathematics test. Attributing a poor score to limitations in fixed ability can be very damaging motivationally because it implies that efforts to improve on a future test will not be effective. In contrast, attributing a poor math score to controllable processes, such as the use of the wrong solution strategy, will sustain motivation because it implies that a different strategy may lead to success.</p>
                    <p>
                        2. Self-reaction
                    </p>
                    <p>
                        2.1 One form of self-reaction involves feelings of self-satisfaction and positive affect regarding one’s performance. Increases in self-satisfaction enhance motivation, whereas decreases in self-satisfaction undermine further efforts to learn.
                    </p>
                    <p>
                        2.2 Self-reactions also take the form of adaptive/
defensive responses. Defensive reactions refer
to efforts to protect one’s self-image by withdrawing or avoiding opportunities to learn and perform, such as dropping a course or being absent for a test. In contrast, adaptive reactions refer to adjustments
                    </p>
                    <p>
                        Zimmerman, B. (2002). Becoming a Self-Regulated Learner: An Overview. Theory Into Practice, 41, 64-70. doi:10.1207/s15430421tip4102_2
                    </p>
                </div>
            </div>
             <div class="col-md-6 ">
                 <form action="/Sel/" id="carform">
                     <div style="margin:30px">
                            <ul class="Radio">
                                <li >It is more important to compare the learning performance with others to judge learning effectiveness than to set specific goals or self-monitor systematically. </li>
                                <li>
                                    <input id="safe1" name="1" type="radio" value="True" /><label for="safe1">True</label>
                                </li>
                                <li>
                                    <input id="safe2" name="1" type="radio" value="Flase" /><label for="safe2">False</label>
                                </li>
                            </ul>
                    </div>
                     <div style="margin:30px">
                            <ul class="Radio">
                                <li >The reflections that learners get from self-evaluation can be further used for subsequent goal setting and planning process.</li>
                                <li>
                                    <input id="safe5" name="2" type="radio" value="True"/><label for="safe5">True</label>
                                </li>
                                <li>
                                    <input id="safe6" name="2" type="radio" value="Flase"/><label for="safe6">Flase</label>
                                </li>
                            </ul>
                    </div>
                     <div style="margin:30px">
                            <ul class="Radio">
                                <li >Which of the following statement is false? </li>
                                <li>
                                    <input id="safe9" name="3" type="radio" value="A"/><label for="safe9">A. Increases in self-satisfaction will enhance learning motivation</label>
                                </li>
                                <li>
                                    <input id="safe10" name="3" type="radio" value="B"/><label for="safe10">B. Avoiding opportunities to learn and perform is a form of defensive reactions</label>
                                </li>
                                <li>
                                    <input id="safe11" name="3" type="radio" value="C"/><label for="safe11">C. Learners should not discard or modify any ineffective learning strategy during their learning </label>
                                </li>
                                <li>
                                    <input id="safe12" name="3" type="radio" value="D"/><label for="safe12">D. To sustain motivation, it is better to attribute a poor score to controllable processes, such as the use of the wrong solution strategy</label>
                                </li>
                            </ul>
                    </div>
                    <input type="submit" class="btn btn-sm btn-primary" style="width:180px; margin: 60px;margin-left: 90px;" value="Submit">
                </form>
                 <div style="margin-left:30% " id="answer">

                 </div>
             </div>
          <!-- /#page-wrapper -->
         </div>
    </div>
</div>
<div class="copy">
     <p>Copyright &copy; 2022</p>
</div>

    <!-- /#wrapper -->
    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>
<script>
    function GetQueryValue(queryName) {
        var query = decodeURI(window.location.search.substring(1));
        var vars = query.split("&");
        for (var i = 0; i < vars.length; i++) {
            var pair = vars[i].split("=");
            if (pair[0] == queryName) { return pair[1]; }
        }
        return null;
    }
    function onload() {
        var ans = GetQueryValue("1")
        console.log(ans)
        if (ans != undefined){
            let UL = document.getElementById('answer');
            var p = document.createElement('p');
                // 放入数据(data)
                // 这里使用ES6字符串模板特性来做
            p.innerHTML = `
            The Right answer is B A C
                `
                // 放入(ul)
            UL.appendChild(p);
        }
    }
    window.onload = onload();
</script>
</body>
</html>
