<!DOCTYPE HTML>
<html>
<head>
<title>Time Management</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Modern Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
 <!-- Bootstrap Core CSS -->
<link href="/static/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="/static/css/style.css" rel='stylesheet' type='text/css' />
<link href="/static/css/font-awesome.css" rel="stylesheet">
<!-- jQuery -->
<script src="/static/js/jquery.min.js"></script>
<style type="text/css">
input:disabled + label {/*禁用的指针*/
	cursor: not-allowed
	}
.Radio input,
.Checkbox input {
	display: none
	}
.Radio label,
.Checkbox label {
	padding: 0 16px 0 0;
	display: inline-block;
	cursor: pointer;
	position: relative
	}
.Radio label:before,
.Checkbox label:before {
	box-sizing: border-box;
	content: "";
	width: 18px;
	height: 18px;
	border-radius: 50%;
	border: 1px solid #999;
	margin: 0 8px;
	vertical-align: middle;
	display: inline-block;
	transition: 0.1S;
	}
.Radio label:hover:before,
.Checkbox label:hover:before {
	border-color: #00a4ff;
	}
.Radio input:disabled + label:before,
.Checkbox input:disabled + label:before {
	background-color: #CCC;
	border-color: #999;
	opacity: 0.5;
	}
.Radio input:disabled + label,
.Checkbox input:disabled + label {
	opacity: 0.5;
	}
.Radio input:checked + label:before {
	border: 5px solid #00a4ff;
	}
.Checkbox label:before {
	{#background: url(/static/images/ico_tick.svg) no-repeat center;#}
	background-size: 0;
	border-radius: 4px;
	transition: 0.2S;
	}
.Checkbox input:checked + label:before {
	background-color: #00a4ff;
	background-size: 16px;
	border-color: #00a4ff;
	}
.HoverLabel label {
	display: block;
	border-radius: 4px;
	padding: 4px;
	width: 100%;
	}
.HoverLabel label:hover {
	background-color: #EEE;
	}
</style>
</head>
<body>
<!-- //star -->

     <!-- Navigation -->
       <nav class="top1 navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0; min-height: 70px;">
            <div class="navbar-header" style="margin-top:7px">
                <a class="navbar-brand" href="/mysrl/">HKUSRL MySRL</a>
            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-nav navbar-right">
            	<span class="navbar-brand"  style="margin-top:7px">Welcome</span>
                {% if request.session.is_login %}

            	<span class="navbar-brand"  style="margin-top:7px">{{ request.session.user_name }}</span>
                {% else %}
                <h1>You are not login</h1>
                {% endif %}
            	<a class="navbar-brand btn btn-success btn-warng1"  style="margin-top:10px; height: 45px;" href="/logout/">Exit</a>

			</ul>
            <!-- /.navbar-static-side -->
        </nav>
<div style="margin:30px">
    <div class="content_bottom">
         <div class="col-md-12 span_3">
            <div class="col-md-6" >
                <div style="margin:30px">
                    <p>The effective use of one’s study time is essential to academic success because insufficient time compels expediency the very antithesis of self-regulated learning. Below listed some commonly used strategies:</p>
                    <ol>
                    <li>Setting regular study periods. By setting aside certain hours each day, studying requires less daily planning and becomes more habitual.</li>
                    <li>Setting realistic goals. Many students tend to underestimate the amount of time needed to complete an assignment and thus need to overestimate the time necessary until they are certain of their estimates.
                    </li></ol>

                    <p>Zimmerman, B. J., Bonner, S., & Kovach, R. (1996). Goal 2: Developing time planning and management skills. In Developing self-regulated learners: Beyond achievement to self-efficacy (pp. 25-46, Chapter viii, 147 Pages).  </p>
                </div>
            </div>
             <div class="col-md-6 ">
                 <form action="/Time/" id="carform">
                     <div style="margin:30px">
                            <ul class="Radio">
                                <li >If your time management skill is good enough, you will be:</li>
                                <li>
                                    <input id="safe1" name="1" type="radio" value="A" /><label for="safe1">A. Unaware of how much time you waste</label>
                                </li>
                                <li>
                                    <input id="safe2" name="1" type="radio" value="B" /><label for="safe2">B. Less efficient with time than you imagined</label>
                                </li>
                                <li>
                                    <input id="safe3" name="1" type="radio" value="C" /><label for="safe3">C. Underestimate the time you need to complete assignments</label>
                                </li>
                                <li>
                                    <input id="safe4" name="1" type="radio" value="D"/><label for="safe4">D. More likely to attain higher scores and increased self-efficacy</label>
                                </li>
                            </ul>
                    </div>
                     <div style="margin:30px">
                            <ul class="Radio">
                                <li >How can you improve your time management skills?</li>
                                <li>
                                    <input id="safe5" name="2" type="radio" value="A"/><label for="safe5">A. Do not set aside certain hours and regular study periods each day</label>
                                </li>
                                <li>
                                    <input id="safe6" name="2" type="radio" value="B"/><label for="safe6">B. Reward yourself before you achieve your learning goals</label>
                                </li>
                                <li>
                                    <input id="safe7" name="2" type="radio" value="C"/><label for="safe7">C.Strictly link your actions to your goals</label>
                                </li>
                                <li>
                                    <input id="safe8" name="2" type="radio" value="D"/><label for="safe8">D.Say no to technologies during studying</label>
                                </li>
                            </ul>
                    </div>
                     <div style="margin:30px">
                            <ul class="Radio">
                                <li >Including small breaks throughout your learning can be an effective way to handle stress and stay motivated.</li>
                                <li>
                                    <input id="safe9" name="3" type="radio" value="True"/><label for="safe9">True</label>
                                </li>
                                <li>
                                    <input id="safe10" name="3" type="radio" value="False"/><label for="safe10">False</label>
                                </li>
                            </ul>
                    </div>
                    <input type="submit" class="btn btn-sm btn-primary" style="width:180px; margin: 60px;margin-left: 90px;"value="Submit">
                </form>
                 <div style="margin-left:30% " id="answer">

                 </div>
             </div>
          <!-- /#page-wrapper -->
         </div>
    </div>
</div>
<div class="copy">
     <p>Copyright &copy; 2022</p>
</div>

    <!-- /#wrapper -->
    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>
<script>
    function GetQueryValue(queryName) {
        var query = decodeURI(window.location.search.substring(1));
        var vars = query.split("&");
        for (var i = 0; i < vars.length; i++) {
            var pair = vars[i].split("=");
            if (pair[0] == queryName) { return pair[1]; }
        }
        return null;
    }
    function onload() {
        var ans = GetQueryValue("1")
        console.log(ans)
        if (ans != undefined){
            let UL = document.getElementById('answer');
            var p = document.createElement('p');
                // 放入数据(data)
                // 这里使用ES6字符串模板特性来做
            p.innerHTML = `
            The Right answer is D C A
                `
                // 放入(ul)
            UL.appendChild(p);
        }
    }
    window.onload = onload();
</script>
</body>
</html>
